<div class="container">
  <div class="Genre">
    <br><br>
    <h4>詳細</h4>
    <br>
    <ul class="Genre-lists">
      <% @genre.cards.each do |g| %>
        <li class="list">
          <%= link_to card_path(g) do %>
            <%= g.word %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>