<div class="container">
  <div class="Genre">
    <br><br>
    <h4>詳細</h4>
    <br>
    <div class="card">
      <div class="card-header">
        単語：
        <%= @card.word %>
      </div>
      <br>
      <div class="card-body">
        解説：
        <%= @card.explanation %>
      </div>
    </div>
    <br>
    <%= link_to 'back', genre_path(@card.genre_id) %>
  </div>
</div>