#new_card_collection {
  display: flex;
  flex-wrap: wrap;
}
.field {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 250px;
}

.action {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.btn-secondary {
  width: 100px;
}

tr {
  text-align: center;
}